<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SendPisResult.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SendPisResult.Properties.Settings>
            <setting name="SendResult_HnsfyOutInterface_ServiceForward" serializeAs="String">
                <value>http://192.168.0.51:9200/BVOutInterface/Soap</value>
            </setting>
            <setting name="SendResult_HnsfyRegistrationInterface_ServiceForward"
                serializeAs="String">
                <value>http://192.168.0.51:8090/WebService.asmx</value>
            </setting>
            <setting name="PathHISJK_fz_WebReferenceCrisis_CrisisValue" serializeAs="String">
                <value>http://168.168.252.104:8888/CrisisValue</value>
            </setting>
        </SendPisResult.Properties.Settings>
    </applicationSettings>
</configuration>